
.goal .calendar {
  margin: auto;
  grid-template-columns: repeat(10, 1fr);
  display: grid;
  gap: 8px;
  padding-top: 300px
}

.day-cell {
  width: 8px;
  height: 8px;
}

.goal .goal-title {
  /* font-weight: bold; */
  font-style: italic;
  font-size: 12px;
}