@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend+Deca:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  text-align: center;
  background-color: #161616;
  max-width: 900px;
  margin: auto;
  color: #fff;
  font-size: 14px;
  font-family: "Funnel Sans", monospace;
}

.calendar {
  padding-top: 300px;
  color: #fff;
  margin: auto;
  max-width: max-content;
}

.past-day {
  background-color: #fff !important;
}

.current-day {
  background-color: orange !important;
}

.day-cell {
  background-color: #383838;
  border-radius: 100%;
}

p {
  margin-top: 20px
}

span {
  color: orange
}